/tile_x003_y002_cropped_single_cells_padded
segmentation/models/mask_rcnn_commitment.model
RedTell
RedTell
venv/
/cellpose
/Segmented_Images
/Overlays
/Overlays
/SingleCells_Batch
/myenv
/cellenv
/mlruns
/checkpoints_stage2
/checkpoints_3class
/checkpoints_stage1
/checkpoints_rbc_clustered
/checkpoints_rbc
/active_learning
/LabelledData
/ExperimentLog
*.xlsx
*.csv
*.db
/Finalpipeline/model
Finalpipeline/pipeline/__pycache__/prediction.cpython-311.pyc
Finalpipeline/pipeline/__pycache__/worker.cpython-311.pyc
Finalpipeline/gui/__pycache__/main_window.cpython-311.pyc
/Finalpipeline/pipeline/__pycache__
/Finalpipeline/pipeline/__pycache__
/Finalpipeline/gui/__pycache__
/checkpoints_rbc_binary
/checkpoints_rbc_clustered_binary
/Finalpipeline/pipeline/__pycache__
/Finalpipeline/pipeline/__pycache__
/Finalpipeline/pipeline/__pycache__
/Scripts/Validation/mlruns
/Finalpipeline/pipeline/__pycache__
/Finalpipeline/pipeline/__pycache__
*.pyc
*.pyc
*.pyc
